.container {
	width: 100%;
	height: 100px;
	background-color: #1877f2;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
}

.title {
	font-size: 20px;
	font-weight: bolder;
}

.leftContainer {
	width: 85%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.searchHomepageTimelineContainer {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.homepageTimelineContainer {
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.friendMessageNotificationAvatarContainer {
	margin-left: 15px;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.notificationContainer {
	display: flex;
	width: 60%;
	justify-content: space-evenly;
}

.input {
	color: black;
	width: 400px;
	height: 100%;
	padding: 10px;
}

.input:focus {
	outline: none;
}

.searchBar {
	background-color: white;
	width: 500px;
	height: 35px;
	padding: 10px;
	border-radius: 15px;
	display: flex;
	align-items: center;
}

.image {
	border-radius: 30px;
}

.image:hover {
	cursor: pointer;
}

.notificationBadgeContainer {
	display: flex;
}

.notificationBadgeContainer:hover {
	cursor: pointer;
}

.badge {
	background-color: red;
	width: 16px;
	height: 16px;
	font-size: 12px;
	font-weight: bolder;
	text-align: center;
	align-content: center;
	border-radius: 30px;
}
